node_modules
dist
build
.env
.vscode
.DS_Store
.env.local
storage
*.enc
*.pdf
example-master-cv.json

# turborepo
.turbo

# angular
.angular

# nest / prisma
apps/job-seek-api/generated

# coverage
coverage